.header-wrapper {
    background-color: rgb(228, 255, 249);

    position: relative;
    z-index: 1;
    margin-top: 80px;

    flex-direction: row !important;

    padding: 80px 15% !important;
    &::after {
        position: absolute;
        top: 0;
        left: 0;

        content: '';

        height: 100%;
        width: 100%;
        z-index: -1;

        opacity: 0.6;
    }
    .header-img {
        height: 100%;
        width: 50%;
        img {
            width: 100%;
            height: 100%;

            border-radius: 40px;
        }
    }
    .header-content {
        width: 50%;
        height: 100%;

        h3 {
            color: var(--second-color);
            font-size: 28px;
        }
        h1 {
            font-size: 60px;
            color: var(--primary-color);

            line-height: 70px;
            margin: 20px 0;
        }

        p {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

@media screen and (max-width: 1600px) {
    .header-content {
        h1 {
            font-size: 50%;
            line-height: 60px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header-img {
        width: 50% !important;
    }
}

@media screen and (max-width: 900px) {
    .header-wrapper {
        &::after {
            display: none !important;
        }

        flex-direction: column !important;
        align-items: center;
        .header-content {
            width: 100%;

            h1 {
                font-size: 9vw;
                line-height: 10vw;
            }
        }

        .header-img {
            width: 80% !important;
            
        }
    }

}


@media screen and (max-width: 500px) {
    .header-wrapper {
        .header-img {
            width: 100% !important;
        }

        padding: 0 15% 0 15% !important;
    }
}
