
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.footer {
    .footer-container {
        display: flex;
        background-color: #f6f6f6;
        padding: 30px 15%;

        .footer-address,
        .footer-social {
            font-size: calc(14 / 1920 * 100rem);
            padding: 10px 20px;

            ul {
                li {
                    &:first-child {
                        padding-top: 7px;
                    }
                    padding: 5px 0;
                }
            }
        }

        .footer-social {
            display: none; 
            .footer-list {
                li {
                    span {
                        padding-right: 10px;
                    }
                    svg {
                        font-size: 15px !important;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        .footer-container {
            display: flex !important;
            flex-direction: column !important;
        }
    }
}

@media screen and (max-width: 900px) {
    .footer {
        .footer-container {
            display: flex !important;
            flex-direction: column !important;
        }
        .footer-social {
            .footer-list {
                display: flex !important;
            }
        }
    }
}